In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Data viz

In [6]:
file = "../raw_data/mta_1706.csv"
data = pd.read_csv(file, on_bad_lines="skip", nrows=1000000)
data.head(10)

,RecordedAtTime,DirectionRef,PublishedLineName,OriginName,OriginLat,OriginLong,DestinationName,DestinationLat,DestinationLong,VehicleRef,VehicleLocation.Latitude,VehicleLocation.Longitude,NextStopPointName,ArrivalProximityText,DistanceFromStop,ExpectedArrivalTime,ScheduledArrivalTime
0,2017-06-01 00:03:34,0,B8,4 AV/95 ST,40.616104,-74.031143,BROWNSVILLE ROCKAWAY AV,40.656048,-73.907379,NYCT_430,40.635170,-73.960803,FOSTER AV/E 18 ST,approaching,76.0,2017-06-01 00:03:59,24:06:14
1,2017-06-01 00:03:43,1,S61,ST GEORGE FERRY/S61 & S91,40.643169,-74.073494,S I MALL YUKON AV,40.575935,-74.167686,NYCT_8263,40.590802,-74.158340,MERRYMOUNT ST/TRAVIS AV,approaching,62.0,2017-06-01 00:03:56,23:58:02
2,2017-06-01 00:03:49,0,Bx10,E 206 ST/BAINBRIDGE AV,40.875008,-73.880142,RIVERDALE 263 ST,40.912376,-73.902534,NYCT_4223,40.886010,-73.912647,HENRY HUDSON PKY E/W 235 ST,at stop,5.0,2017-06-01 00:03:56,24:00:53
3,2017-06-01 00:03:31,0,Q5,TEARDROP/LAYOVER,40.701748,-73.802399,ROSEDALE LIRR STA via MERRICK,40.666012,-73.735939,NYCT_8422,40.668002,-73.729348,HOOK CREEK BL/SUNRISE HY,< 1 stop away,267.0,2017-06-01 00:04:03,24:03:00
4,2017-06-01 00:03:22,1,Bx1,RIVERDALE AV/W 231 ST,40.881187,-73.909340,MOTT HAVEN 136 ST via CONCOURSE,40.809654,-73.928360,NYCT_4710,40.868134,-73.893032,GRAND CONCOURSE/E 196 ST,at stop,11.0,2017-06-01 00:03:56,23:59:38
5,2017-06-01 00:03:40,0,M1,4 AV/E 10 ST,40.731342,-73.990288,HARLEM 147 ST via MADISON,40.821110,-73.935898,NYCT_3831,40.792897,-73.950023,MADISON AV/E 106 ST,approaching,73.0,2017-06-01 00:03:56,24:02:35
6,2017-06-01 00:03:24,0,B31,GERRITSEN AV/GERRITSEN BEACH,40.587101,-73.918503,MIDWOOD KINGS HWY STA,40.608433,-73.957100,NYCT_4611,40.587024,-73.918623,GERRITSEN AV/GERRITSEN BEACH,at stop,0.0,NaN,24:08:00
7,2017-06-01 00:03:29,0,B83,GATEWAY CTR TERM/GATEWAY DR,40.652649,-73.877029,BWAY JCT VN SNDRN AV,40.678139,-73.903572,NYCT_4841,40.648801,-73.882682,PENNSYLVANIA AV/DELMAR LOOP N,< 1 stop away,196.0,2017-06-01 00:04:13,23:58:47
8,2017-06-01 00:03:27,0,B82,STILLWELL TERMINAL BUS LOOP,40.577080,-73.981293,SPRING CRK TWRS SEAVIEW AV via KINGS HWY,40.642990,-73.878326,NYCT_6592,40.632258,-73.918318,FLATLANDS AV/RALPH AV,approaching,35.0,2017-06-01 00:03:56,24:00:00
9,2017-06-01 00:03:51,1,S59,RICHMOND TER/PARK AV #3,40.640167,-74.130966,HYLAN BL,40.534260,-74.154213,NYCT_8279,40.590689,-74.165811,RICHMOND AV/NOME AV,approaching,31.0,2017-06-01 00:03:56,24:01:14

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 17 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   RecordedAtTime             1000000 non-null  object
 1   DirectionRef               1000000 non-null  int64
 2   PublishedLineName          1000000 non-null  object
 3   OriginName                 991537 non-null   object
 4   OriginLat                  991537 non-null   float64
 5   OriginLong                 991537 non-null   float64
 6   DestinationName            1000000 non-null  object
 7   DestinationLat             998754 non-null   float64
 8   DestinationLong            998754 non-null   float64
 9   VehicleRef                 1000000 non-null  object
 10  VehicleLocation.Latitude   1000000 non-null  float64
 11  VehicleLocation.Longitude  1000000 non-null  float64
 12  NextStopPointName          998951 non-null   object
 13  ArrivalProximityText       998951 non-null   object
 14  DistanceFromStop           998951 non-null   float64
 15  ExpectedArrivalTime        889103 non-null   object
 16  ScheduledArrivalTime       975197 non-null   object
dtypes: float64(7), int64(1), object(9)
memory usage: 129.7+ MB

In [8]:
data.dtypes

RecordedAtTime                object
DirectionRef                   int64
PublishedLineName             object
OriginName                    object
OriginLat                    float64
OriginLong                   float64
DestinationName               object
DestinationLat               float64
DestinationLong              float64
VehicleRef                    object
VehicleLocation.Latitude     float64
VehicleLocation.Longitude    float64
NextStopPointName             object
ArrivalProximityText          object
DistanceFromStop             float64
ExpectedArrivalTime           object
ScheduledArrivalTime          object
dtype: object

## Convert Time Columns to Datetime Format

In [9]:
data['RecordedAtTime'] = pd.to_datetime(data['RecordedAtTime'])
data['ExpectedArrivalTime'] = pd.to_datetime(data['ExpectedArrivalTime'])

In [10]:
# Using Vectorized Operations
# since the db is very very large and classical python iterations is too slow.

times = data['ScheduledArrivalTime'].str.split(':', expand=True)
times = times.fillna('0').astype(float)
hours, minutes, seconds = times[0], times[1], times[2]

new_hours = np.where(hours >= 24, hours - 24, hours)
days_to_add = np.where(hours >= 24, 1, 0)

valid_rows = ~hours.isna() & ~minutes.isna() & ~seconds.isna()

data.loc[valid_rows, 'ScheduledArrivalTime'] = (
    pd.to_datetime(
        new_hours.astype(int).astype(str) + ':' +
        minutes.astype(int).astype(str) + ':' +
        seconds.astype(int).astype(str),
        format='%H:%M:%S'
    ) + pd.to_timedelta(days_to_add[valid_rows], unit='days')
)

data.loc[~valid_rows, 'ScheduledArrivalTime'] = pd.NaT

In [11]:
data['ScheduledArrivalTime'] = pd.to_datetime(data['ScheduledArrivalTime'])

In [12]:
data['ScheduledArrivalTime'] = (
    pd.to_datetime(data['RecordedAtTime'].dt.date.astype(str) + ' ' + data['ScheduledArrivalTime'].dt.time.astype(str))
)
data['ScheduledArrivalTime']

0        2017-06-01 00:06:14
1        2017-06-01 23:58:02
2        2017-06-01 00:00:53
3        2017-06-01 00:03:00
4        2017-06-01 23:59:38
                 ...
999995   2017-06-05 17:20:00
999996   2017-06-05 17:32:22
999997   2017-06-05 17:29:06
999998   2017-06-05 17:27:50
999999   2017-06-05 17:25:00
Name: ScheduledArrivalTime, Length: 1000000, dtype: datetime64[ns]

In [13]:
print(data['RecordedAtTime'].isna().sum())

0

In [14]:
print(data['ExpectedArrivalTime'].isna().sum())

110897

In [15]:
print(data['ScheduledArrivalTime'].isna().sum())

0

## Data Cleaning

In [16]:
data_cleaned.columns

NameError: name 'data_cleaned' is not defined

In [ ]:
# List of columns to drop
columns_to_drop = ['PublishedLineName', 'OriginName', 'DestinationName', 'VehicleRef', 'NextStopPointName', 'ArrivalProximityText']

# Drop the columns
data_cleaned = data.drop(columns=columns_to_drop)

In [ ]:
# Drop rows where 'ExpectedArrivalTime' is missing (since it's needed for target)
data_cleaned = data_cleaned.dropna()

In [ ]:
# Inspect the data after handling missing values
data_cleaned.isnull().sum()

RecordedAtTime               0
DirectionRef                 0
OriginLat                    0
OriginLong                   0
DestinationLat               0
DestinationLong              0
VehicleLocation.Latitude     0
VehicleLocation.Longitude    0
DistanceFromStop             0
ExpectedArrivalTime          0
ScheduledArrivalTime         0
dtype: int64

In [ ]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 881764 entries, 0 to 999998
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   RecordedAtTime             881764 non-null  datetime64[ns]
 1   DirectionRef               881764 non-null  int64
 2   OriginLat                  881764 non-null  float64
 3   OriginLong                 881764 non-null  float64
 4   DestinationLat             881764 non-null  float64
 5   DestinationLong            881764 non-null  float64
 6   VehicleLocation.Latitude   881764 non-null  float64
 7   VehicleLocation.Longitude  881764 non-null  float64
 8   DistanceFromStop           881764 non-null  float64
 9   ExpectedArrivalTime        881764 non-null  datetime64[ns]
 10  ScheduledArrivalTime       881764 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(7), int64(1)
memory usage: 80.7 MB

In [ ]:
# Remove duplicate rows if any
data_cleaned = data_cleaned.drop_duplicates()

In [ ]:
# Calculate the time difference between ExpectedArrivalTime and ScheduledArrivalTime
data_cleaned['TimeDifference'] = (data_cleaned['ExpectedArrivalTime'] - data_cleaned['ScheduledArrivalTime']).dt.total_seconds() / 60

# Inspect the data with the new target column
data_cleaned[['ExpectedArrivalTime', 'ScheduledArrivalTime', 'TimeDifference']].head(10)

   ExpectedArrivalTime ScheduledArrivalTime  TimeDifference
0  2017-06-01 00:03:59  2017-06-01 00:06:14       -2.250000
1  2017-06-01 00:03:56  2017-06-01 23:58:02    -1434.100000
2  2017-06-01 00:03:56  2017-06-01 00:00:53        3.050000
3  2017-06-01 00:04:03  2017-06-01 00:03:00        1.050000
4  2017-06-01 00:03:56  2017-06-01 23:59:38    -1435.700000
5  2017-06-01 00:03:56  2017-06-01 00:02:35        1.350000
7  2017-06-01 00:04:13  2017-06-01 23:58:47    -1434.566667
8  2017-06-01 00:03:56  2017-06-01 00:00:00        3.933333
9  2017-06-01 00:03:56  2017-06-01 00:01:14        2.700000
10 2017-06-01 00:04:29  2017-06-01 23:48:35    -1424.100000

In [ ]:
# Removing outliers by keeping values that are between -100 and 100 minutes
data_cleaned = data_cleaned [data_cleaned["TimeDifference"].between(-100, +100,inclusive="both")]

In [ ]:
# Reset index after cleaning
data_cleaned = data_cleaned.reset_index(drop=True)

## Feature engineering

## Set target and features

In [ ]:
# Set the target variable (y) as the time difference in minutes
y = data_cleaned['TimeDifference']

# Set the features (X) by dropping the target column and time columns
X = data_cleaned.drop(columns=['TimeDifference', 'ExpectedArrivalTime', 'ScheduledArrivalTime', 'RecordedAtTime'])

In [ ]:
X.info(), y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 879793 entries, 0 to 879792
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   DirectionRef               879793 non-null  int64
 1   OriginLat                  879793 non-null  float64
 2   OriginLong                 879793 non-null  float64
 3   DestinationLat             879793 non-null  float64
 4   DestinationLong            879793 non-null  float64
 5   VehicleLocation.Latitude   879793 non-null  float64
 6   VehicleLocation.Longitude  879793 non-null  float64
 7   DistanceFromStop           879793 non-null  float64
dtypes: float64(7), int64(1)
memory usage: 53.7 MB
<class 'pandas.core.series.Series'>
RangeIndex: 879793 entries, 0 to 879792
Series name: TimeDifference
Non-Null Count   Dtype
--------------   -----
879793 non-null  float64
dtypes: float64(1)
memory usage: 6.7 MB

(None, None)

##Feature scaling

In [ ]:
data_cleaned[['OriginLat', 'OriginLong', 'DestinationLat', 'DestinationLong',
   'VehicleLocation.Latitude', 'VehicleLocation.Longitude', 'DistanceFromStop']].head(1)

,OriginLat,OriginLong,DestinationLat,DestinationLong,VehicleLocation.Latitude,VehicleLocation.Longitude,DistanceFromStop
0,40.616104,-74.031143,40.656048,-73.907379,40.63517,-73.960803,76.0

In [ ]:
# Inspect the shapes of X and y
print(X.shape, y.shape)

(879793, 9) (879793,)

In [ ]:
X.head(5)

,DirectionRef,OriginLat,OriginLong,DestinationLat,DestinationLong,VehicleLocation.Latitude,VehicleLocation.Longitude,DistanceFromStop
0,0,-1.251999,-1.060806,-0.812304,0.256746,-1.077726,-0.339322,-0.161391
1,0,1.606842,0.542488,2.036607,0.308471,1.809687,0.206340,-0.235902
2,0,-0.306310,1.367945,-0.701561,2.087055,-0.699798,2.283327,0.039054
3,0,0.020470,-0.627017,1.022248,-0.047726,0.737866,-0.217173,-0.164539
4,0,-1.682905,-0.531510,-0.957435,0.566918,-1.111246,0.142081,-0.204418

In [ ]:
X.describe().T

,count,mean,std,min,25%,50%,75%,max
DirectionRef,879793.0,5.022443e-01,0.499995,0.000000,0.000000,1.000000,1.000000,1.000000
OriginLat,879793.0,-2.480779e-13,1.000001,-2.458038,-0.792272,-0.157407,0.884778,2.019341
OriginLong,879793.0,-2.377450e-13,1.000001,-3.364002,-0.596066,-0.012896,0.544675,2.435381
DestinationLat,879793.0,3.238899e-14,1.000001,-2.456579,-0.758889,-0.162305,0.888520,2.036607
DestinationLong,879793.0,-3.349595e-14,1.000001,-3.381805,-0.612843,-0.008950,0.566918,2.455956
VehicleLocation.Latitude,879793.0,-6.210434e-14,1.000001,-2.600502,-0.799080,-0.061031,0.867790,2.112771
VehicleLocation.Longitude,879793.0,-3.127370e-13,1.000001,-3.642747,-0.539419,-0.059658,0.538071,2.598967
DistanceFromStop,879793.0,-8.657739e-18,1.000001,-0.241149,-0.208616,-0.134105,-0.021814,35.025542

In [ ]:
# Scale numerical features (e.g., latitude, longitude, distance)
scaler = StandardScaler()

X[['OriginLat', 'OriginLong', 'DestinationLat', 'DestinationLong',
   'VehicleLocation.Latitude', 'VehicleLocation.Longitude', 'DistanceFromStop']] = scaler.fit_transform(
    X[['OriginLat', 'OriginLong', 'DestinationLat', 'DestinationLong',
        'VehicleLocation.Latitude', 'VehicleLocation.Longitude', 'DistanceFromStop']])

In [ ]:
df_combined = pd.concat([X, y], axis=1)
correlation_matrix = df_combined.corr()
print(correlation_matrix['TimeDifference'])

DirectionRef                 0.019258
OriginLat                    0.062053
OriginLong                   0.012191
DestinationLat               0.022133
DestinationLong             -0.011315
VehicleLocation.Latitude     0.043596
VehicleLocation.Longitude   -0.004639
DistanceFromStop            -0.010169
TimeDifference               1.000000
Name: TimeDifference, dtype: float64

In [ ]:
correlation = data['DistanceFromStop'].corr(data['TimeDifference'])
print("Correlation between DistanceFromStop and TimeDifference:", correlation)

Correlation between DistanceFromStop and TimeDifference: -0.010168784698638108

# Cyclical Encoding for timetables

In [ ]:
def cyclical_encoding(data, column, max_val):
    data["{data}_sin"] = np.sin(2 * np.pi * data[column] / max_val)
    data["{data}_cos"] = np.cos(2 * np.pi * data[column] / max_val)

    return data_cleaned

data_cleaned = cyclical_encoding(data=data_cleaned, column=,)

# Deploying baseline model

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)